body { 
  background: url(https://s-media-cache-ak0.pinimg.com/736x/01/0b/76/010b76ca38302307f33f76911b6df643.jpg)

}

.outer{
  margin-bottom: 100px;
}

.title{
  text-align: center;
  color:#ff00ff;
  font-weight: bold;
  font-size:60px;
  background-color: none;
  margin-top: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-shadow: 2px 2px #cc00cc;
 
}

.cancelEdit{
  display: none;
  margin-left:52%;
  margin-top: -85px;

}

.submitEdit{
  display: none;
  text-align: center;
  margin-left:35%;
  margin-top: 0px;

}

.authorTemp{
  border: 1px solid #ff00ff;
  text-align:center;
  background-color: white;
  width:200px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.messageTemp{
  border: 1px solid #ff00ff;
  background-color: white;
  width:80%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 5px;

}

.messageList, .addNewMessageCont{
  /*background: url(http://www.themesltd.com/headers2/pugs_and_kisses.png);*/
  background-color: pink;
  width:75%;
  margin:0 auto;
  padding-top: 30px
}



.btnCont{
  text-align:center;
}

.btn-danger, .btn-warning{
  margin-bottom: 2%;
  margin-left:2%;
  margin-right:2%;
}

.template{
  display:none;
}

.addNewMessageCont{
  text-align:center;
  padding-bottom: 40px;
  margin-bottom: 0px;
}

.addNewMessage{
  background-color: #cc00cc;
  color:white;
}
.imageURLTemp{
  width:100px;
  border: 3px solid #ff00ff;
}

.authorInput, .textInput, .imageURLInput{
  text-align:center;
}

.imageURL{
  display:none;
}

.sortByAuthor{
  margin-left: 35%;
  margin-bottom: 10px;
  background-color: #ff00ff;
  color:white;

}

.sortByTime{
  margin-left:2%;
  margin-top: -10px;
  background-color: #ff00ff;
  color:white;
}


.showInput{
  display: none;
  background-color: pink;
  width:75%;
  height:150px;
  margin:0 auto;
  margin-bottom: -20px;
  padding-bottom: 300px;
}

.txt{
  width: 75%;
  margin-top:5px;
}

.messageBoardArea{
  text-align: center;
}

.submitM{
  margin-left: 40%;
  margin-top: 10px;
}

.cancelAdd{
  margin-top: -45px;
  margin-left:52%;
}

.author{
  height:30px;
}
.updateMessage, .deleteMessage{
  margin-top:5px;
  background-color: #ff00ff;
  color:white;
  border-color:#cc00cc;
}

@media screen and (max-width: 433px){
    .sortByTime {
      margin-left:35%;
      margin-top: 10px;
      margin-bottom: 10px;
      }
}